# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea/

# Ignore visual studio stuff
project/bin/

# Ignore python stuff
__pycache__/
Test/
.ipynb_checkpoints/
examples/notebooks/Debug.ipynb

examples/Sensitivity/Output-02/Sensitivities.OME2.xml
examples/Sensitivity/Output-02/Sensitivities.temperature.xml
examples/roba/
dist/
build/
pySMOKEPostProcessor.egg-info/
pySMOKEPostProcessor_old
examples-old

compile_commands.json

.DS_Store

.cache
