# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.DS_Store

.idea/
project/MSVS_2019/x64/
project/MSVS_2019/.vs/
project/MSVS_2019/pyPostProcessor.vcxproj.user

# Ignore visual studio stuff

project/MSVS_2019/x64/
project/.vs/
project/MSVS_2019/.vs/
project/MSVS_2019/pyPostProcessor.vcxproj.user
project/MSVS_2019/
