# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.DS_Store

.idea/

# Ignore visual studio stuff
project/bin/

# Ignore python stuff
__pycache__/
provette.py
project/myLINUX/
pySMOKEPostProcessor/source/.deps/
pySMOKEPostProcessor/source/.dirstamp
.vscode/
Test/
.ipynb_checkpoints/
pySMOKEPostProcessor/GraphWriterrrr.py
pySMOKEPostProcessor/source/stuff_test.txt